<table id="redirector" class="data fullwidth">
  <thead>
    <th scope="col">{{ 'from URL'|t }}</th>
    <th scope="col">{{ 'to Entry'|t }}</th>
    <th scope="col">{{ 'Entry locale'|t }}</th>
    <th class="thin"></th>
  </thead>
  <tbody>
    {% for redirect in redirects %}
    {%- set targetEntry = craft.entries.id(redirect.targetEntryId).locale(redirect.locale).first %}
      <tr>
        <td><a href="{{ redirect.urlPattern }}" target="_blank" class="go">{{ redirect.urlPattern }}</a></td>
        <td><a href="{{ targetEntry.url }}"  target="_blank" class="go">{{ targetEntry.title }}</a></td>
        <td>{{ redirect.locale }}<td>
        <td><a href="{{ targetEntry.cpEditUrl }}" target="_blank">{{ 'Edit'|t }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>